<%= form_with(model: arduino, local: true) do |form| %>
  <% if arduino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arduino.errors.count, "error") %> prohibited this arduino from being saved:</h2>

      <ul>
      <% arduino.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip, id: :arduino_ip %>
  </div>
  
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :arduino_nome %>
  </div>

  <div class="field">
    <%= form.label :equipamento_id %>
    <%= form.collection_select(:equipamento_id, @equipamentos, :id, :nome, :prompt => true) %>
  </div>
  

  <!--%= form.text_field :user_id, id: :user_id, disabled: true %-->
  <!--%= number_field_tag 'user_id', '1', class: 'special_input', disabled: true %-->
  <%= form.hidden_field :user_id, required: true, value:current_user.id  %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
