<p id="notice"><%= notice %></p>

<h1>Arduinos</h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Nome</th>
      <th>Equipamento</th>
      <th>Comando</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arduinos.each do |arduino| %>
      <tr>
        <td><%= arduino.ip %></td>
        <td><%= arduino.nome %></td>
        <td><%= arduino.equipamento.nome %></td>
        <td><%= link_to arduino.equipamento.comando.nome, "http://"+arduino.ip+"/"+arduino.equipamento.comando.comando, remote: true %></td>
        <td><%= link_to 'Show', arduino %></td>
        <td><%= link_to 'Edit', edit_arduino_path(arduino) %></td>
        <td><%= link_to 'Destroy', arduino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Enviar Comando', "http://"+arduino.ip+"/"+arduino.equipamento.comando.comando, method: :post, :target => '_blank' %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arduino', new_arduino_path %>

