<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-lg-6 col-md-8" style="background-color: lightblue;padding: 25px 25px 25px 25px;border-radius: 15px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @equipamento.nome %>
</p>

<p>
  <strong>Comando:</strong>
  <%= @equipamento.comando.nome %>
</p>

<%= link_to 'Edit', edit_equipamento_path(@equipamento) %> |
<%= link_to 'Back', equipamentos_path %>

    </div>
    <div class="col col-lg-2">
    </div>
  </div>
</div>
